@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;700&display=swap');

:root {
    --font-primary: 'Geologica', sans-serif;
}

* {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    min-height: 100%;
    background-color: #414141;
}

header {
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 60px;
    color: #EC8D19;
    font-size: 14px;
    position: absolute;
    right: 0px;
}

header img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #EC8D19;
}

header>div {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

header>#icon-user {
    display: flex;
    align-items: center;
    border: 1px solid #EC8D19;
    border-radius: 40px;
    padding: 5px 10px;
    gap: 10px;
    cursor: pointer;
}

header>i {
    font-size: 23px;
    padding: 5px;
    display: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.bi-list:hover {
    background-color: gray;

}

header>div:hover {
    transition: 0.5s;
    background-color: #EC8D19;
    color: black;
}

.menu {
    display: none;
}

.menu-resp {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.953);
    width: 100vw;
    height: 100%;
    color: white;
    position: absolute;
    top: 0;
    left: 110%;
    z-index: 1;
    animation-name: openMenu;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

@keyframes openMenu {
    0% {
        left: 110%;
    }

    100% {
        left: 0;
    }
}

@keyframes closeMenu {
    0% {
        left: 0;
    }

    100% {
        left: -110%;
    }
}

.menu-resp > ul  {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.menu-resp  > ul > li a {
    text-decoration: none;
    font-size: 20px;
    color: #EC8D19;
    transition: 0.4s;
}

.menu-resp  > ul > li a:hover {
    color: #ffd6a3;
}

menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 10px;
    height: 100vh;
    background-color: #EC8D19;
    width: 40px;
    position: sticky;
    z-index: 2;
    top: 0px;
    left: 0px;
}

menu>div>h1 {
    font-size: 20px;
}

menu>div>ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

menu>div>ul>li>a {
    color: black;
}

menu>div>ul>li>a>i {
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.bi-gear:hover::before {
    content: '\F3E2';
}

.bi-house-door:hover::before {
    content: '\F422';
}

.bi-plus-circle:hover::before {
    content: '\F4F9';
}

.bi-question-circle:hover::before {
    content: '\F504';
}

#main {
    position: absolute;
    padding-left: 40px;
    padding-top: 46px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    z-index: 0;
}

@media screen and (max-width: 600px) {
    body {
        overflow-y: auto;
        overflow-x: hidden;
    }

    header {
        justify-content: space-evenly;
        width: 100%;
        position: relative;
        padding: 5px 10px;
        gap: 55%;
        z-index: 1;
    }

    header > #icon-user > p {
        font-size: 12px;
    }

    header > h2 {
        display: none;
    }

    menu {
        display: none;
    }

    .bi-list {
        display: flex;
        font-weight: bolder;
        cursor: pointer;
    }

    #main {
        padding: 0;
        width: 100%;
        content: '';
        position: relative;
    }

}