@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

:root {
    --font-primary: 'Geologica', sans-serif;
}

#box-radius {
    width: 100%;
}

#box-radius>ul {
    list-style: none;
    margin-top: 10px;
    margin-left: 10px;
}

#box-radius>ul>li {
    border-radius: 50%;
    width: 13px;
    height: 13px;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#box-radius>ul {
    display: flex;
    align-items: center;
    gap: 10px;

}

body {
    position: absolute;
    background-color: #1e1e1e;

}

main {
    position: absolute;
    top: 5px;
    left: 16px;
    width: 90vw;
    height: 90vh;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}


form {
    height: 98%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
}

form>section {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

form>section>div {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.label-required::before {
    content: '* ';
    color: rgb(255, 38, 0);
}

form input,
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

form input:focus,
textarea:focus {
    border-color: #aa5e00;
    box-shadow: 0px 0px 10px -2px #EC8D19;
}

span {
    color: red;
    display: none;
    font-size: 11px;
    margin-left: 2px;
    font-weight: bold;
}


#box-select>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#box-select>div>p {
    background-color: #EC8D19;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    transition: 0.4s;
    cursor: pointer;
}

#box-select>div>p:hover {
    background-color: black;
    color: #EC8D19;
}

select {
    border-radius: 5px;
    width: 85%;
    padding: 10px;
    cursor: pointer;
    outline: none;
}
option {
    border-color: none;
    outline: none;
}

#box-submit {
    width: 100%;
    display: flex;
    justify-content: center;
}

form>div>input[type="submit"] {
    width: 100%;
    background-color: #EC8D19;
    font-weight: bold;
    border: none;
    font-size: 18px;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.279);
}

form>div>input[type="submit"]:hover {
    background-color: black;
    color: #EC8D19;
}

#bottom-band {
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, green 33%, white 33%, white 66%, red 66%, red 100%);
    box-shadow: 0px -2px 15px -1px rgba(0, 0, 0, 0.881);
}

@keyframes nvcate {
    0% {
        width: 0vw;
        height: 0vh;
        border-radius: 50%;
        opacity: 10%;
    }

    100% {
        width: 100vw;
        height: 100vh;
        border-radius: 0%;
        opacity: 100%;
    }
}

@keyframes exitMenu {
    0% {
        width: 100vw;
        height: 100vh;
        border-radius: 0;

    }

    30% {
        opacity: 100%;
    }

    100% {
        width: 0vw;
        height: 0vh;
        opacity: 0%;
        border-radius: 50%;
        display: none;
    }
}

.cate {
    display: none;
}

.newCate {
    /* animation-name: nvcate; */
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.668);
    z-index: 1;
    opacity: 100%;
}



.cate>form {
    position: relative;
    z-index: 2;
    width: 350px;
    height: 200px;
    background-color: #1e1e1e;
    padding: 20px;
    display: flex;
    align-items: center;
}

.cate>form>div>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cate>form>div>label {
    color: #EC8D19;
    font-size: 14px;
    padding-left: 3px;
}

.cate>form>div>div>input {
    width: 87%;
}

.cate>form>div>div>button {
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 145, 255);
    cursor: pointer;
}

.cate>form>div>div>button:hover {
    background-color: rgb(72, 176, 255);
}

.cate>form>div>div>button>i {
    font-size: 28px;
}


.cate>form>div {
    width: 100%;
}

.bi-x {
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    transition: 0.5s;
    padding: 0px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.bi-x:hover {
    border: 1px solid gray;

}

@media screen and (max-width: 600px) {
    main {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 10px;
        /* background-color: red; */
    }

    main > form > h1 {
        font-size: 18px;
    }

    main > form {
        flex-direction: column;
        /* background-color: green; */
        padding: 0;
    }

    main > form > section {
        width: 100%;
        /* background-color: gray; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main > form > section > div {
        width: 100%;
    }

    main > form > section > div > label {
        font-size: 14px;
    }

    main > form > section input {
        /* background-color: black; */
        width: 100%;
    }
}